/* CONTENT */
#content .enclosure_container {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    padding: 3% 7%;
    margin-bottom: 3rem;
    margin-top: 2rem !important;
    transition: background-size .5s ease-in-out;
    filter: grayscale(100%);
}

#content .enclosure_container:hover {
    background-size: 110%;
}

#content .post_title {
    color: #fff !important;
    background: var(--main-color);
}

#content .post_infos {
    color: #fff;
    background: var(--main-color);
    margin-top: 2rem;
    display: inline-block;
    padding: 3px 5px;
}

#content .post_infos strong {
    color: #fff;
}

@media all and (max-width: 850px) {
    #content .post_title {
        font-size: 1.7em;
    }

    #content .post_infos {
        font-size: .9em;
    }
}