/* CONTENT */
#content .enclosure_container {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    padding: 3% 7%;
    border-radius: 25px 10px;
    margin-bottom: 3rem;
    margin-top: 2rem !important;
    --enclosure-translate: 50%;
    transition: background-size .5s ease-in-out;
}

#content .enclosure_container:hover {
    background-size: 110%;
}

#content .post_title {
    color: #fff !important;
    background: var(--main-color);
}

#content .post_infos {
    color: #fff;
    background: var(--main-color);
    margin-top: 2rem;
    display: inline-block;
    padding: 3px 5px;
}

#content .post_infos strong {
    color: #fff;
}

@media all and (max-width: 850px) {
    #content .post_title {
        font-size: 1.7em;
    }

    #content .post_infos {
        font-size: .9em;
    }
}

/* LIST_BLOG_RECUR */
ul.list_blog_recur {
    list-style-type: none;
    padding: 0;
    margin: 2em 0;
}
ul.list_blog_recur > li {
    padding: .5em;
    border-radius: 5px;
}
ul.list_blog_recur > li:not(:last-child) {
    margin-bottom: 15px;
}
ul.list_blog_recur > li:nth-child(2n-1) {
    background: var(--main-color);
}
ul.list_blog_recur > li:nth-child(2n) {
    background: #e0e0e0;
}
ul.list_blog_recur > li > a {
    margin-bottom: 0;
    text-decoration: none;
}
ul.list_blog_recur > li:nth-child(2n-1) > a {
    color: #fff;
}
ul.list_blog_recur > li:nth-child(2n) > a {
    color: var(--main-color);
}
ul.list_blog_recur > li > a:hover {
    text-decoration: none;;
}
ul.list_blog_recur > li > a > p {
    margin: 0;
}
ul.list_blog_recur > li > a > p.blog_list_recur_post_date {
    font-size: .9em;
    color: var(--accent-color);
}
ul.list_blog_recur > li:hover > a > p.blog_list_recur_post_title {
    background-size: 100% 100%;
}
ul.list_blog_recur > li:hover:nth-child(2n) > a > p.blog_list_recur_post_title {
    color: #fff;
}
ul.list_blog_recur > li:nth-child(2n-1) > a > p.blog_list_recur_post_date strong {
    color: #e0e0e0;
}
ul.list_blog_recur > li > a > p.blog_list_recur_post_title {
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    padding: 5px 5px 0px 5px;
    margin: 5px 0;

    border-radius: 5px;
    background-image: linear-gradient(120deg, var(--accent-color-light) 0%, var(--accent-color-light) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0em;
    background-position: 0 85%;
    transition: background-size .25s ease-in, color .25s ease-in-out .1s;
}
ul.list_blog_recur > li > a > p.blog_list_recur_post_description {
    /*line-clamp*/
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: calc(3*1.25rem);
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.25rem;
    /*end line-clamp*/
}