/* CONTENT */
#content .enclosure_container {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    padding: 3% 7%;
    margin-bottom: 3rem;
    margin-top: 2rem !important;
    transition: background-size .5s ease-in-out;
    filter: grayscale(100%);
}

#content .enclosure_container:hover {
    background-size: 110%;
}

#content .post_title {
    color: #fff !important;
    background: var(--main-color);
}

#content .post_infos {
    color: #fff;
    background: var(--main-color);
    margin-top: 2rem;
    display: inline-block;
    padding: 3px 5px;
}

#content .post_infos strong {
    color: #fff;
}

@media all and (max-width: 850px) {
    #content .post_title {
        font-size: 1.7em;
    }

    #content .post_infos {
        font-size: .9em;
    }
}

/* LIST_BLOG_RECUR */
ul.list_blog_recur {
    list-style-type: none;
    padding: 0;
    margin: 2em 0;
}
ul.list_blog_recur > li {
    padding: .5em;
    border: var(--main-color) solid 3px;
}
ul.list_blog_recur > li:not(:last-child) {
    margin-bottom: 15px;
}
ul.list_blog_recur > li > a {
    margin-bottom: 0;
    text-decoration: none;
    color: var(--main-color);
    font-weight: normal;
}
ul.list_blog_recur > li > a:hover {
    text-decoration: none;;
}
ul.list_blog_recur > li > a > p {
    margin: 0;
}
ul.list_blog_recur > li > a > p.blog_list_recur_post_date {
    font-size: .9em;
}
ul.list_blog_recur > li:hover > a > p.blog_list_recur_post_title {
    background-size: 100% 100%;
}
ul.list_blog_recur > li > a > p.blog_list_recur_post_title {
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    padding: 5px 0;
    margin: 5px 0;

    background-image: linear-gradient(120deg, #c7c7c7 0%, #c7c7c7 100%);
    background-repeat: no-repeat;
    background-size: 100% 0em;
    background-position: 0 85%;
    transition: background-size .25s ease-in, color .25s ease-in-out .1s;
}
ul.list_blog_recur > li > a > p.blog_list_recur_post_description {
    /*line-clamp*/
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: calc(3*1.25rem);
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.25rem;
    /*end line-clamp*/
}