h1, h2 {
    font-family: 'Newsreader';
    text-align: center;
}

a {
    color: var(--main-color);
}

img {
    max-width: 100%;
    width: 100%;
}

iframe {
    margin: 0 auto;
    display: block;
}