/* @import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');
 */
@font-face {
    font-family: 'Newsreader';
    src: url('/front/themes/wave/font/Newsreader/Newsreader-Medium.eot');
    src: url('/front/themes/wave/font/Newsreader/Newsreader-Medium.eot?#iefix') format('embedded-opentype'),
        url('/front/themes/wave/font/Newsreader/Newsreader-Medium.woff2') format('woff2'),
        url('/front/themes/wave/font/Newsreader/Newsreader-Medium.woff') format('woff'),
        url('/front/themes/wave/font/Newsreader/Newsreader-Medium.ttf') format('truetype'),
        url('/front/themes/wave/font/Newsreader/Newsreader-Medium.svg#Newsreader-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --accent-color: #375662;
    --accent-color-light: #709fb0;
    --main-color: #1a1a1a;
    --white: #fff;
}

body {
    margin: 0;
    padding: 0;
    background: #eaeaea;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
}

.body-content {
    flex: 10;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 15px 7px 15px;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: solid 4px var(--main-color);
    border-top: solid 4px var(--main-color);
    margin-top: 5px;
}
header > * {
    padding: 0 !important;
    margin: 0 !important;
}

header > p {
    flex: 10;
}

header > h1 > a {
    text-decoration: none !important;
}

header > h1 > a:hover {
    text-decoration: none !important;
}

header > p > a {
    font-weight: bold !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    white-space: nowrap !important;
    font-size: 1.5rem !important;
    text-decoration: none !important;
}

header > p > a:hover {
    text-decoration: underline !important;
}

header .spacer {
    flex: 1;
}

header *, footer * {
    color: var(--main-color) !important;
}

/* waves */
.header-wave, .footer-wave {
    display: flex;
    margin-top: -1px;
    margin-bottom: -1px;
    position: absolute;
    width: 100%;
    z-index: -1000;
}
.header-wave {
    top: 0;
}
.footer-wave {
    bottom: 0;
}
.header-wave svg, .footer-wave svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
}
/* end waves */

#content {
    max-width: 100rem;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.2rem;
    flex: 3;
    overflow: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.markdown h2 a {
    background: var(--accent-color);
    color: var(--white);
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.markdown h2 a:hover {
    text-decoration: underline;
}

/* list_image */
#content .list_image ul {
    list-style-type: none;
    padding: 0;
}
#content .list_image li {
    padding: 15px;
    min-height: calc(5rem + 15px);
}
#content .list_image li:not(:last-child) {
    border-bottom: dashed #ccc 2px;
}
#content .list_image img:first-child {
    max-width: 5rem;
    float: left;
    margin: -15px 15px -15px 0;
}
/* end list_image */

/* social icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a:not(:last-child) {
    margin-right: 15px;
}
.social-icons svg {
    width: 2rem;
    height: 2rem;
    fill: var(--main-color);
    transition: fill .2s ease-in-out;
}
.social-icons a:hover svg {
    fill: var(--accent-color);
}
.social-icons p {
    font-size: 0;
    margin: 0;
}
/* end social icons */

footer {
    text-align: center;
    padding: 0px 15px 20px 15px;
}
footer > * {
    padding: 0 !important;
}

@media all and (max-width: 1000px) {
    #content {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 1.5rem;
    }
}

@media all and (max-width: 850px) {
    #content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media all and (max-width: 500px) {
    #content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    header .social-icons {
        display: none;
    }
}

@media all and (max-width: 300px) {
    header {
        flex-direction: column;
    }
}