@font-face {
    font-family: 'Newsreader';
    src: url('/front/themes/wave/font/Newsreader/Newsreader-Medium.eot');
    src: url('/front/themes/wave/font/Newsreader/Newsreader-Medium.eot?#iefix') format('embedded-opentype'),
        url('/front/themes/wave/font/Newsreader/Newsreader-Medium.woff2') format('woff2'),
        url('/front/themes/wave/font/Newsreader/Newsreader-Medium.woff') format('woff'),
        url('/front/themes/wave/font/Newsreader/Newsreader-Medium.ttf') format('truetype'),
        url('/front/themes/wave/font/Newsreader/Newsreader-Medium.svg#Newsreader-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Vollkorn';
    src: url('/front/themes/wave/font/Vollkorn/Vollkorn.eot');
    src: url('/front/themes/wave/font/Vollkorn/Vollkorn.eot?#iefix') format('embedded-opentype'),
        url('/front/themes/wave/font/Vollkorn/Vollkorn.woff2') format('woff2'),
        url('/front/themes/wave/font/Vollkorn/Vollkorn.woff') format('woff'),
        url('/front/themes/wave/font/Vollkorn/Vollkorn.ttf') format('truetype'),
        url('/front/themes/wave/font/Vollkorn/Vollkorn.svg#Vollkorn') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --accent-color: #375662;
    --accent-color-light: #709fb0;
    --main-color: #1a1a1a;
    --white: #fff;
}

body {
    margin: 0;
    padding: 0;
    background: #eaeaea;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Vollkorn', Arial, Helvetica, sans-serif;
}

body * {
    outline: none;
}

.body-content {
    flex: 10;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 15px;
    margin-top: 5px;
}
header * {
    padding: 0;
    margin: 0;
}

header .head {
    display: flex;
    align-items: center;
    margin: 15px 0 30px 0;
}

header > .head h1 {
    margin: 10px 15px 0px 15px;
    font-size: 2.8rem;
}

header > .head h1 > a {
    text-decoration: none;
}

header > .head h1 > a:hover {
    text-decoration: none;
}

header > .head .social-icons {
    margin: 0 15px;
}

header >.head .spacer {
    flex: 1;
    height: 0;
}

header .nav {
    background: var(--main-color);
    padding: 7px 5px 5px 5px;
    font-family: 'Newsreader';
}

header .nav a {
    color: var(--white);
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
    font-size: 1.5rem;
    text-decoration: none;
}

header .nav a:hover {
    text-decoration: underline;
}

header *, footer * {
    color: var(--main-color);
}

#content {
    max-width: 100rem;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.2rem;
    flex: 3;
    overflow: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.markdown h2 a {
    background: var(--accent-color);
    color: var(--white);
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.markdown h2 a:hover {
    text-decoration: underline;
}

/* list_image */
/* list image */
.list_image ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list_image li {
    max-width: 35em;
    font-size: 1.1em;
    border: solid 2px var(--main-color);
    background-size: cover;
    width: 100%;
}
.list_image li:not(:last-child) {
    margin-bottom: 15px;
}
.list_image li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    background: transparent;
    border-radius: 15px;
}
.list_image li p {
    margin-bottom: 0;
}
.list_image li a:hover {
    text-decoration: none;
}
.list_image li a:hover img {
    transform: scale(1.1);
}
.list_image li img {
    max-width: 5rem;
    margin-right: 15px;
    transition: all .5s ease-in-out;
    transform: scale(.9);
}
/* end list_image */

/* social icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a:not(:last-child) {
    margin-right: 15px;
}
.social-icons svg {
    width: 2rem;
    height: 2rem;
    fill: var(--main-color);
    transition: fill .2s ease-in-out;
}
.social-icons a:hover svg {
    fill: var(--accent-color);
}
.social-icons p {
    font-size: 0;
    margin: 0;
}
/* end social icons */

footer {
    text-align: center;
    padding: 0px 15px 20px 15px;
}
footer > * {
    padding: 0;
}

@media all and (max-width: 1000px) {
    #content {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 2rem;
    }
}

@media all and (max-width: 850px) {
    #content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media all and (max-width: 500px) {
    #content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    header .social-icons {
        display: none;
    }
}

@media all and (max-width: 300px) {
    header {
        flex-direction: column;
    }
}